<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/common/rest.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common/layui.css"/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body > 
      <!-- 头部信息 -->
      <% include ./common/nav %>
      <div class="main">
        <!-- 主题内容 -->
        <div class="content">
          <div class="row container">
          	<blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow" style="visibility: visible;">
        

			        <a href="/" title="网站首页">首页<span class="layui-box">&gt;</span></a>
			
			        <a href="#" title="关于">关于<span class="layui-box">&gt;</span></a>
			    	</blockquote>
          	
          	<div class="about-main shadow">
       				<ul class="about-tab-title">
	                <li class="about-this">关于博客</li>
	                <!--<li >关于作者</li>-->
	                <!--<li >友情链接</li>
	                <li >留言墙</li>-->
	            </ul>
       				<div class="about-tab-content">
       					<div class="about-item">
       						<div class="figure">
       							<img src="/favicon.ico"/>
       						</div>
       						<p class="nickname">ShiSan</p>
       						<p class="introduce">啊哈哈哈哈哈哈哈</p>
       						<fieldset class="field field-title">
		                <legend>简介</legend>
			                <div class="field-box abstract">
			                    <p style="text-align:center;">由于不满足于 hexo 的功能 于是 自学 node 做为网站的后台开发。</p>
			                    <h1>第一个版本</h1>
			                    <p>诞生的版本，采用node + mongo作为后台框架，前端数据渲染为 node + ejs ，管理后台 使用的 vue + vue-router + element ui 前端布局参照一些博客布局进行调整！暂时只为先完成功能。</p>
			                  
			                </div>
			            </fieldset>
       						
       						
       					</div>
       					
       					
       					
       				</div>
       				
       				
          	
          	</div>
          </div>
        </div>
        
      </div>
      <!-- 底部内容 -->
       <% include ./common/footer %>
	   <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>
