<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/css/style.css' />
    <style>
      body,html{
        height:100%;
      }
    </style>
  </head>
  <body class="homePage"> 
      <!-- 头部信息 -->
      <% include ./common/nav %>
      
      <!-- 内容主体 -->
      <div class="main">
        <!-- 图形滚动 -->
        <div class="wrap ">
          <div id="wraps" class="sliders">
            <div data-num="1" class="slide hide"></div>
            <div data-num="2" class="slide hide"></div>
            <div data-num="3" class="slide hide"></div>
            <div data-num="4" class="slide hide"></div>
          </div>
          <a href="/Article" id="btn-begin-blog">Let's Begin</a>
        </div>
      </div>
 			
	   <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
     <script type="text/javascript">
       (function(){
          $(function(){
              var $wraps = $('#wraps').find('.slide');
              var flag = 0;
              $wraps.eq(flag).fadeIn(1000).siblings().hide();
              move();
              var key = setInterval(function(){
                move();
              },4500);
              function move(){
                flag = flag > $wraps.length-1 ? 0 : flag;
                $wraps.eq(flag).fadeIn(1000).siblings().hide(0);
                flag++;
              }

              $('#btn-begin-blog').on('click', function(){
                 
              });

          })
       })();
     </script>
  </body>
</html>
