<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
	<div class="warp-main">
  		<% include ./common/nav %>
		<% if (locals.islogin) { %> 
			<div id="alt_sucess" class="alert alert-success"> 
		        <%- islogin %>已登陆 
		  </div> 
		<% } %> 
		<% if (locals.success) { %> 
          <div id="alt_sucess" class="alert alert-success"> 
            <%- success %> 
          </div> 
       	<% } %> 

      	<% if (locals.error) { %> 
        	<div id="alt_warning" class="alert alert-warning"> 
          		<%= error %> 
        	</div> 
      	<% } %> 
		<div class="form form-horizontal">
			<form method="post" >	
				<div class="control-group">
	              <label class="control-label" for="inputEmail">账号：</label>
	              <div class="controls">
	                <input type="text" id="" name="userName" placeholder="account">
	              </div>
	            </div>
	            <div class="control-group">
	              <label class="control-label" for="inputpass">密码：</label>
	              <div class="controls">
	                <input type="PassWord" id="inputpass" placeholder="PassWord" name="PassWord">
	              </div>
	            </div>
				<div class="submit">
					<input type="submit" name="" value="登 录" id="">
				</div>
			</form>
		</div>
		
  	</div>

		

  </body>
</html>
