<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
	<div class="warp-main">
				<% if (locals.success) { %> 
					<script type="text/javascript">
						setTimeout(function(){
							window.location.href='/'
						},5000)
					</script>
          <div id="alt_sucess" class="alert alert-success"> 
            <%= success %> 
          </div> 
       	<% } %> 
      	<% if (locals.error) { %> 
        	<div id="alt_warning" class="alert alert-warning"> 
          		<%= error %> 
        	</div> 
      	<% } %> 
			<div class="form form-horizontal">
				<form method="post" action="/login" style="width:400px;margin: 40px auto;" >	
					<div class="control-group">
		              <label class="control-label" for="inputEmail">账号：</label>
		              <div class="controls">
		                <input type="text" id="" name="userName" placeholder="account">
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label" for="inputpass">密码：</label>
		              <div class="controls">
		                <input type="PassWord" id="inputpass" placeholder="PassWord" name="PassWord">
		              </div>
		            </div>
					<div class="submit">
						<input type="submit" name="" value="登 录" id="">
					</div>
				</form>
		</div>
		
  	</div>

		

  </body>
</html>
