<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/common/rest.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common/font-awesome.min.css"/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body  class="homePage"> 
      <!-- 头部信息 -->
      <% include ./common/nav %>
      <div class="main">
        <!-- 主题内容 -->
        <div class="content">
          <div class="row container">
          	<blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow" style="visibility: visible;">
        

			        <a href="/" title="网站首页">首页<span class="layui-box">&gt;</span></a>
			
			        <a href="#" title="资源分享">文章分类<span class="layui-box">&gt;</span></a>
			    	</blockquote>
          	
          	
          	<div class="resource-main">
                   <!-- <div class="resource shadow">
                        <div class="resource-cover">
                            <a href="/demo/timeline" target="_blank">
                                <img src="/Images/Cover/201703051349045432.jpg" alt="时光轴">
                            </a>
                        </div>
                        <h1 class="resource-title"><a href="/demo/timeline" target="_blank">时光轴</a></h1>
                        <p class="resource-abstract">本博客使用的时光轴的源码，手工打造！</p>
                        <div class="resource-info">
                            <span class="category"><a href="javasript:;"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>
                            <span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>
                            <div class="clear"></div>
                        </div>
                        <div class="resource-footer">
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="/demo/timeline" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="https://pan.baidu.com/s/1mit2aiW" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                        </div>
                    </div>
                    <div class="resource shadow">
                        <div class="resource-cover">
                            <a href="/demo/imagecarousel" target="_blank">
                                <img src="/Images/Cover/cover.jpg" alt="图片轮播">
                            </a>
                        </div>
                        <h1 class="resource-title"><a href="/demo/imagecarousel" target="_blank">图片轮播</a></h1>
                        <p class="resource-abstract">用jQuery实现的图片轮播，简单易懂，适合初学者！</p>
                        <div class="resource-info">
                            <span class="category"><a href="javasript:;"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>
                            <span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>
                            <div class="clear"></div>
                        </div>
                        <div class="resource-footer">
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="/demo/imagecarousel" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="https://pan.baidu.com/s/1nuAKF81" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                        </div>
                    </div>
                    <div class="resource shadow">
                        <div class="resource-cover">
                            <a href="/admin" target="_blank">
                                <img src="/Images/Cover/201703181708141811.jpg" alt="pagesize.js">
                            </a>
                        </div>
                        <h1 class="resource-title"><a href="/admin" target="_blank">pagesize.js</a></h1>
                        <p class="resource-abstract">pagesize.js是layui的一个扩展模块！它在laypage原有功能上增加页容量控制的功能！演示请看后台。</p>
                        <div class="resource-info">
                            <span class="category"><a href="javasript:;"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>
                            <span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>
                            <div class="clear"></div>
                        </div>
f                        <div class="resource-footer">
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="/admin" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="http://pan.baidu.com/s/1kVK8UhT" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                        </div>
                    </div>
                    <div class="resource shadow">
                        <div class="resource-cover">
                            <a href="javascript:layer.msg('此资源没有演示')" target="_blank">
                                <img src="/Images/Cover/201703181909057125.jpg" alt="Canvas">
                            </a>
                        </div>
                        <h1 class="resource-title"><a href="javascript:layer.msg('此资源没有演示')" target="_blank">Canvas</a></h1>
                        <p class="resource-abstract">本博客首页的canvas动画！由于我也是网上下载的源码，做的改动，所以并不是完全懂！</p>
                        <div class="resource-info">
                            <span class="category"><a href="javasript:;"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>
                            <span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>
                            <div class="clear"></div>
                        </div>
                        <div class="resource-footer">
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg('此资源没有演示')" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="http://pan.baidu.com/s/1c1BJ6Qc" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                        </div>
                    </div>
                    <div class="resource shadow">
                        <div class="resource-cover">
                            <a href="javascript:layer.msg('此资源没有演示')" target="_blank">
                                <img src="/Images/Cover/201703281056196714.jpg" alt="ASP.NET 404页面Demo">
                            </a>
                        </div>
                        <h1 class="resource-title"><a href="javascript:layer.msg('此资源没有演示')" target="_blank">ASP.NET 404页面Demo</a></h1>
                        <p class="resource-abstract">ASP.NET MVC、WebForm制作404页面的Demo</p>
                        <div class="resource-info">
                            <span class="category"><a href="javasript:;"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>
                            <span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>
                            <div class="clear"></div>
                        </div>
                        <div class="resource-footer">
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg('此资源没有演示')" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="https://pan.baidu.com/s/1mhTKDCG" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                        </div>
                    </div>
                   <!-- <div class="resource shadow">
                        <div class="resource-cover">
                            <a href="javascript:layer.msg('此资源没有演示')" target="_blank">
                                <img src="/Images/Cover/201703191936399467.jpg" alt="不落阁前台模板">
                            </a>
                        </div>
                        <h1 class="resource-title"><a href="javascript:layer.msg('此资源没有演示')" target="_blank">不落阁前台模板</a></h1>
                        <p class="resource-abstract">本博客网站前台页面模板</p>
                        <div class="resource-info">
                            <span class="category"><a href="javasript:;"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>
                            <span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>
                            <div class="clear"></div>
                        </div>
                        <div class="resource-footer">
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg('此资源没有演示')" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="https://git.oschina.net/LY2016Start/blogtemplet" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                        </div>
                    </div>
                    <div class="resource shadow">
                        <div class="resource-cover">
                            <a href="javascript:layer.msg('此资源没有演示')" target="_blank">
                                <img src="/Images/Cover/201703261716548434.jpg" alt="不落阁后台模板">
                            </a>
                        </div>
                        <h1 class="resource-title"><a href="javascript:layer.msg('此资源没有演示')" target="_blank">不落阁后台模板</a></h1>
                        <p class="resource-abstract">本博客网站后台页面模板</p>
                        <div class="resource-info">
                            <span class="category"><a href="javasript:;"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>
                            <span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>
                            <div class="clear"></div>
                        </div>
                        <div class="resource-footer">
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg('此资源没有演示')" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>
                            <a class="layui-btn layui-btn-small layui-btn-primary" href="https://git.oschina.net/LY2016Start/BlogHtTemplate" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                        </div>
                    </div>-->
                <div class="clear"></div>
            </div>
          
          
          </div>
        </div>
        
      </div>
      <!-- 底部内容 -->
       <% include ./common/footer %>
	   <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>
