html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Hiragino Sans GB','Microsoft YaHei',"微软雅黑",STHeiti,'WenQuanYi Micro Hei',SimSun,sans-serif;
    color: #2f2f2f;
    font-size: 16px;
    background-color: #efefef;
}
.clear {
     clear: both; 
}
.hljs{
	border-radius: 5px ;
}
.hide{
    display: none;
}
*{
	box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding:10px;
    position: relative;
}

/* 
    home pages
 */

.homePage{

}
.homePage .wrap,.homePage .sliders,.homePage .main{
    height:100%;
    min-height: 915px;
}
.homePage .sliders {
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.9) inset;
    background: rgba(0,0,0,0.7);
    position: relative;
}

.slide{
    width:100%;
    height:100%;
    position: absolute;
    background:url(../images/slide1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.slide[data-num="1"]{
    background-image:url(../images/slide2.jpg);
}
.slide[data-num="2"]{
     background-image:url(../images/slide3.jpg);
}
.slide[data-num="3"]{
     background-image:url(../images/slide4.jpg);
}
#btn-begin-blog {
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -80px;
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px #fff;
    background: rgba(255,255,255,0);
}
.wrap {
	position: fixed;
	width:100%;
	top:0;
	left:0;
	right:0;
	z-index: 1;
	background-color: #000;
	bottom: 0;
}
.content{width:100%;padding-top: 65px;}
.section{
    width: 750px;
    float: left;
}
.row{
	overflow: hidden;
}
.aside{
    width:350px;
    transition: all 0.8s;
	transform: translateX(0);
    float: right;
}
/*文章列表样式*/
.articleList{
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	padding:10px;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
}
.articleList a{
	color:#666;
}
.articleList h3{
	margin: 5px 0 5px 0;
	padding:10px;
	position: relative;
}
.articleList h3:before{
	content:'' ;
	position: absolute;
	background-color: #D9534F;
	width:5px;
	/*height: 30px;*/
	bottom: 5px;
	top:5px;
	left:0;
}
.articleList  .art-desc,  .art-title{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	word-break: break-word;
	text-align: justify;
	line-height: 1.5;
}
.articleList .art-tag{
	padding:5px 0px;
}
.articleList .art-tag span{
	display: inline-block;
	background-color: #EF7522;
	padding:3px 10px;
	border-radius: 4px;
	color:#fff;
	font-size: 14px;
	margin-left: 5px;
}
.articleList .art-tag .tag0{
	background-color: #13ce66;
}
.articleList .art-tag .tag1{
	background-color: #f7ba2a;
}.articleList .art-tag .tag2{
	background-color: #ff4949;
}.articleList .art-tag .tag3{
	background-color: #50bfff;
}



.articleList .art-time{
	color:#666;
	font-size: 14px;
}
.articleList .art-more{
	overflow: hidden;
}
.articleList .art-more a{
	display: block;
	float: right;
	background-color: #5899D0;
	color:#fff;font-size: 15px;
	padding:5px 10px;border-radius: 3px;
	margin: 5px 20px;
}
/*右边栏目*/
.aside .search, .classify {
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 15px;
	background-color: #fff;
}

.aside .search .wt,.classify .wt{
	padding:12px 10px 15px 10px;
	position: relative;
	/*margin:  auto;*/
	border-bottom: 1px solid #eaeaea;
	display: block;
}
.aside .search .wt:before,.classify .wt:before{
	content:'' ;
	position: absolute;
	background-color: #0066AA;
	width:5px;
	/*height: 30px;*/
	bottom: 10px;
	top:8px;
	left:0;
}
.aside .search form{
	padding:25px 0 15px 0;
	white-space: nowrap;
}
.aside .search input{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: inline-block;
    font-size: inherit;
    height: 35px;
    font-size: 13px;
    line-height: 1;
    outline: none;vertical-align: middle;
    padding: 5px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.aside .search input[type=text]{
	width: 240px;
}

.aside .search input[type=submit]{
	width: 75px;
	border:none;
	color:#fff;
	font-size: 15px;
	background-color: #5899D0;
	cursor: pointer;
}

 .classify div span{
 	display: inline-block;
 	padding:5px 8px;
 	border:1px solid #eaeaea;
 	margin-top: 10px;
 }
  .classify div span a{
  	color: #2f2f2f;
  }
.classifyItems{
	padding: 10px 0;
}
.layui-breadcrumb a span {
    padding-left: 8px;
    font-family: Sim sun;
}.shadow {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.layui-breadcrumb a {
    padding-right: 8px;
    line-height: 22px;
    font-size: 14px;
    color: #333!important;
}
.layui-breadcrumb a cite, .layui-breadcrumb a span {
    color: #666;
    cursor: text;
    font-style: normal;
    }
    .layui-elem-quote {
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}
.sitemap {
    background: #fff;
    margin-top: 0px;
    padding: 8px 15px;
    margin: 0;
    margin-bottom: 10px;
    line-height: normal;
}
/*文章详情页*/
.artContent{
	transition: width .5s;
	background-color: #fff;
	padding:25px;
	position: relative;
	border-radius: 5px;
}
.artContent .art-title{
	margin: 20px auto 10px;
	line-height: normal;
	text-align: center;
}
.artContent .date{
	font-size: 14px;
	text-align: center;
	color: #666;
}
.artContent .tag{
	padding:10px 0;
	margin: 10px auto;
	text-align: center;
}
.artContent .tag span{
	font-size: 13px;
	padding:2px 5px;
	height: 22px;
	border-radius:0 3px 3px 0;
	color:#fff;
	margin-left: 15px;
	display: inline-block;
	background-color: #ff945c;
	padding-left: 8px;
	position: relative;
}
.artContent .tag span:after{
	content: '';
	position: absolute;
	top:0;
	left:0;
	border: 11px solid transparent;
	border-right-color: #ff945c;
	left:-22px;
	top:0px;
}

.artContent .tag span:before{
	content: '';
	z-index: 111;
	position: absolute;
	background-color: #fff;
	width:4px;
	height: 4px;
	border-radius: 50%;
	left:-2px;
	margin-top: -2px;
	top:50%;
	
}
.art-content{
	text-align: justify;
	line-height: 1.8;
}
.doubleClick{
	position: absolute;
	right:10px;
	top:10px;
	width:50px;
	height:50px;
	font-style: normal;
	background-color: #efefef;
	border-radius: 50%;
	cursor: pointer;
	color: #ff945c;
	padding-top: 7px;
	font-size: 14px;
	text-align: center;
	/*animation: rote 1.8s linear infinite;*/
}
/*go top*/
.goTop{
	position: fixed;
    bottom: 50px;
    right: 50px;
    padding:5px 10px;
    border-radius: 50%;
    background-color: #5899D0;
    color:#fff;
    z-index: 9;
    line-height: 1.4;
    cursor: pointer;
    font-size: 14px;
}


/**/
pre, code {
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code{
	overflow-x: scroll;
}

@media (max-width: 1140px) {
	.aside{
		/*display: none;
		width: 0;*/
		transform: translateX(400px);
		overflow: hidden;
		
	}
	.section,.container{
		width:100%;
	}
}
@media (max-width: 700px) {
	.doubleClick{
		display: none;
	}
	.navBar nav{
		display: none;
	}
}

/*滚动条美化------------------------------------*/

::-webkit-scrollbar
 {
     width: 8px;
     height: 10px;
     background-color: #23241f;
 }
::-webkit-scrollbar-track
{
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
}
 
 /*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
 {
     border-radius: 4px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #324157;
 }

/*滚动条美化------------------------------------*/


/*全屏样式------------------------------------*/
.isfull .aside{
	transform: translateX(350px);
	overflow: hidden;
}
.isfull .artContent{
	width:100%;
}
 /*.artContent:-moz-full-screen {
	width:100%;
}

 .artContent:-webkit-full-screen {
	width:100%;
}

 .artContent:-ms-fullscreen {
	width:100%;
}

 .artContent:fullscreen {
	width:100%;
}
 .artContent:-ms-fullscreen, .artContent:-webkit-full-screen, .artContent:-moz-full-screen,.artContent:fullscreen{
 	width:100%;
 }

 .aside:-ms-fullscreen, .aside:-webkit-full-screen, .aside:-moz-full-screen,.aside:fullscreen{
	width: 0;
	overflow: hidden;
}*/


/*全屏样式------------------------------------*/

/*搜索页面*/
.searchBox{
	padding:10px;
	background-color: #fff;
	border-radius: 5px;
	transition: all .9s;
}
.searchBox h2{
	padding:5px 0 15px 0;
	margin: 10px auto;
	line-height: initial;
	border-bottom: 1px solid #eaeaea;
}
.searchBox .searchList {
	padding:5px ;
}
.searchList div{
	padding: 5px 10px;
	position: relative;
}
.searchList div:after{
	position: absolute;
	content: '';
	width:5px;
	background-color: #dfdfdf;
	left:0;
	top:0;
	height: 100%;
}
.searchBox .noData{
	text-align: center;
	padding:20px 0;
}







































































































































/* footer */
.footer{
	text-align: center;
    border-top: 2px solid #009688;
    margin-top: 15px;
    background: #2F4056;
    padding: 5px 0;
    font-size: 15px;
    color: #d3d2d2;
}

.footer p{
	margin: 2px auto;
	padding:2px 0;
}
.footer  p a, .footer  p span {
    padding-left: 7px;
    color: #d2d2d2;
}

/*header*/
.navBar{
    position: fixed;
    top:0;
    width:100%;
    z-index: 2;
    transition: all 0.5s;
    background-color: transparent;
}
.navBar.navBg{
	/*background-image: linear-gradient(89deg, #30bded 0, #2085c5 100%);*/
	background-image: linear-gradient(89deg, #30bded 0, #2F4056 100%);
    /*background-color: #5899d0;*/
   	background-color: #2F4056;
}
.navBar a:hover{
     color: #ef7522
}
.navBar .container{
    display: -webkit-flex; 
    display: flex;
    justify-content:  space-between ;
    align-items:center;
    height:60px;
}
.navBar .authName{
    font-size: 20px;
    font-weight: 400;
}
.navBar nav{
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
}
.navBar li{
    list-style: none;
}
.navBar a{
    padding: 10px 15px;
    margin: 0 5px;
    line-height: 19px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color:#fff;
    transition:all 0.3s;
}



