/*  body {
 padding: 50px;

 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
 color: #00B7FF;
}
header{
   width:1200px;
   margin: 0 auto;
   border:1px solid #eaeaea;
   border-radius: 3px;
}
nav{
   overflow: hidden;
}
nav li{
   list-style: none;
   float: left;
   width:20%;
   text-align: center;
}
nav li a{
   font-size: 18px;
   display: block;
   padding: 10px 0;
   border-right: 1px solid #eaeaea;
}
nav li:last-child a{
   border-right: none;
}
.warp-main{
   width:1200px;
   margin: 0 auto;
}

// subform

.form-horizontal .control-group:before, .form-horizontal .control-group:after {
   display: table;
   line-height: 0;
   content: "";
   clear: both;
}
.form-horizontal{
   width:450px;
   margin: 60px auto;
}
.form-horizontal .control-label {
   float: left;
   width: 90px;
   padding-top: 5px;
   text-align: right;
}
label {
   display: block;
   margin-bottom: 5px;
}
label, input, button, select, textarea {
   font-size: 14px;
   font-weight: normal;
   line-height: 20px;
}
.form-horizontal .controls {
   margin-left: 100px;
   margin-bottom: 25px;
}
.form-horizontal input{
       display: inline-block;
   margin-bottom: 0;
   vertical-align: middle;
}
input[type="text"],input[type="password"]{
   background-color: #fff;
   border: 1px solid #ccc;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   display: inline-block;
   height: 20px;
   width:260px;
   padding: 4px 6px;
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 20px;
   color: #555;
   vertical-align: middle;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
input[type="text"]:focus,input[type="password"]:focus{
   border-color: rgba(82,168,236,0.8);
   outline: 0;
   outline: thin dotted \9;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}
.submit{
   text-align: center;
}
.submit input{
   width:100px;
   height: 38px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 16px;color:#fff;
   background-color: #00B7FF;
   border:none;
}  */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Hiragino Sans GB','Microsoft YaHei',"微软雅黑",STHeiti,'WenQuanYi Micro Hei',SimSun,sans-serif;
    line-height: 18px;
    color: #2f2f2f;
    font-size: 16px;
    background-color: #efefef;
}
.hide{
    display: none;
}
*{
	box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding:10px;
    position: relative;
}
.navBar{
    width:100%;
    height:55px;
   
}
.navBar .container{
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content:  space-between ;
    align-items:center;
    height:55px;
}
.navBar .authName{
     /*float: left;*/
    font-size: 20px;
    font-weight: 400;
}
.navBar nav{
     /*float: right;*/
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: nowrap;
}
.navBar li{
    list-style: none;

}
.navBar a{
    padding: 10px 15px;
    margin: 0 5px;
    line-height: 19px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    display: block;
}
/* 
    home pages
 */

.homePage{

}
.homePage .wrap,.homePage .sliders,.homePage .main{
    height:100%;
    
}
.homePage .sliders {
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.9) inset;
    background: rgba(0,0,0,0.7);
    position: relative;
}
.homePage .navBar{
    position: fixed;
    top:0;
    z-index: 2;
    transition: all 0.5s;
    background-color: transparent;
}
.homePage .navBar.navBg{
	background-image: linear-gradient(89deg, #30bded 0, #2085c5 100%);
    background-color: #5899d0;
}
.homePage .navBar a{
    color:#fff;
    transition:all 0.3s;
}
.homePage .navBar a:hover{
     color: #ef7522
}
.slide{
    width:100%;
    height:100%;
    position: absolute;
    background:url(../images/slide1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.slide[data-num="1"]{
    background-image:url(../images/slide2.jpg);
}
.slide[data-num="2"]{
     background-image:url(../images/slide3.jpg);
}
.slide[data-num="3"]{
     background-image:url(../images/slide4.jpg);
}
#btn-begin-blog {
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -80px;
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px #fff;
    background: rgba(255,255,255,0);
}
.wrap {
	position: fixed;
	width:100%;
	top:0;
	left:0;
	right:0;
	z-index: 1;
	background-color: #000;
	bottom: 0;
}
.content{width:100%;padding-top: 55px;}
.section{
    width: 700px;
    float: left;
}
.row{
	overflow: hidden;
}
.aside{
    width:350px;
    float: right;
}
/*文章列表样式*/

.articleList{
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	padding:10px;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
}
.articleList a{
	color:#666;
}
.articleList h3{
	margin: 5px 0 5px 0;
	padding:10px;
	position: relative;
}
.articleList h3:before{
	content:'' ;
	position: absolute;
	background-color: #D9534F;
	width:5px;
	/*height: 30px;*/
	bottom: 5px;
	top:5px;
	left:0;
}
.articleList .art-tag{
	padding:5px 0px;
}
.articleList .art-tag span{
	display: inline-block;
	background-color: #EF7522;
	padding:3px 10px;
	border-radius: 4px;
	color:#fff;
	font-size: 14px;
	margin-left: 5px;
}
.articleList .art-tag .tag0{
	background-color: #13ce66;
}
.articleList .art-tag .tag1{
	background-color: #f7ba2a;
}.articleList .art-tag .tag2{
	background-color: #ff4949;
}.articleList .art-tag .tag3{
	background-color: #50bfff;
}



.articleList .art-time{
	color:#666;
	font-size: 14px;
}
.articleList .art-more{
	overflow: hidden;
}
.articleList .art-more a{
	display: block;
	float: right;
	background-color: #5899D0;
	color:#fff;font-size: 15px;
	padding:5px 10px;border-radius: 3px;
	margin: 5px 20px;
}
/*右边栏目*/
.aside .search, .classify {
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 15px;
	background-color: #fff;
}

.aside .search .wt,.classify .wt{
	padding:12px 10px 15px 10px;
	position: relative;
	/*margin:  auto;*/
	border-bottom: 1px solid #eaeaea;
	display: block;
}
.aside .search .wt:before,.classify .wt:before{
	content:'' ;
	position: absolute;
	background-color: #0066AA;
	width:5px;
	/*height: 30px;*/
	bottom: 10px;
	top:8px;
	left:0;
}
.aside .search form{
	padding:25px 0 15px 0;
}
.aside .search input{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: inline-block;
    font-size: inherit;
    height: 35px;
    font-size: 13px;
    line-height: 1;
    outline: none;vertical-align: middle;
    padding: 5px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.aside .search input[type=text]{
	width: 240px;
}

.aside .search input[type=submit]{
	width: 75px;
	border:none;
	color:#fff;
	font-size: 15px;
	background-color: #5899D0;
	cursor: pointer;
}

 .classify div span{
 	display: inline-block;
 	padding:5px 8px;
 	border:1px solid #efefef;
 }

































