<div class="navBar navBg">
	<div class="container">
		<div ><a class="authName" href="/">ShiSan | 不念过去，不畏将来</a></div>
		<nav>
			<li><a href="/">首页</a></li>
			<li><a href="/Article">文章</a></li>
			<li><a href="/Resource">资源</a></li>
			<li><a href="/Collection">收藏</a></li>
			<li><a href="/Record/TimeLine">点滴</a></li>
			<li><a href="/About">关于</a></li>
		</nav>
	</div>
</div>

