<!--<header>
	<nav>
		<li><a href="/">首页</a></li>
		<li>
		<% if (locals.username) { %>
			<a >已登录</a>
		<% }else{ %>
			<a href="/login">登录</a>
		<% } %>

		</li>
		<li><a href="/usesession">如何使用session?</a></li>
		<li><a href="/usecookies">如何使用cookies?</a></li>
		<li><a href="/usecrypto">如何字符串加密?</a></li>
	</nav>
</header>
-->


<div class="navBar">
	<div class="container">
		<div ><a class="authName" href="#">ShiSan | 不念过去，不畏将来</a></div>
		<nav>
			<li><a href="#">首页</a></li>
			<li><a href="#">列表</a></li>
			<li><a href="#">标签</a></li>
			<li><a href="#">收藏</a></li>
			<li><a href="#">关于</a></li>
		</nav>
	</div>
</div>

