<div class="navBar">
	<div class="container">
		<div ><a class="authName" href="/">ShiSan | 不念过去，不畏将来</a></div>
		<nav>
			<li><a href="/">首页</a></li>
			<li><a href="#">列表</a></li>
			<li><a href="#">标签</a></li>
			<li><a href="#">收藏</a></li>
			<li><a href="#">关于</a></li>
		</nav>
	</div>
</div>

